@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Oswald', sans-serif;
  background-image: url('http://www.featurepics.com/StockImage/20100607/screen-with-sticky-notes-stock-picture-1559922.jpg');
  background-size: cover;
  margin-bottom: 10px;
}

a{
  color: black;
  a:hover {
    color: blue;
  }
}
.container {
  position: relative;
  background-color: lightgray;
  opacity: .93;
  min-height: 800px;

}

.jumbotron {
  text-align: center;

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, #008080 0%,  #05C1FF 50%, #005757 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #008080),  color-stop(50, #05C1FF), color-stop(100, #005757));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #008080 0%, #05C1FF 50%, #005757 100%);
  /* W3C Markup */
  background-image: linear-gradient(to right, #008080 0%, #05C1FF 50%, #005757 100%);
}

.note {
  min-height: 300px;
  padding: 2% 3% 3% 3%;
  border: none;
  border-radius: 0;
  position: relative;
  width: 30%;
  background-color: #f6f9ea;

}
.note li {
  font-family: 'Permanent Marker', cursive;
}
.main li {
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
}
.note:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width:  25px 25px  0 0;
  border-style: solid;
  border-color: #e3eac5 lightgray;
}
.clickme{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 4%;
  padding-bottom: 2%;
  cursor: grab;
}
.tools {
  float: right;
  h4{
    text-align: center;
  }
}
.tools a{
  padding-left: 10%;
  clear: both;
}
.titles {
}
.footer {
  position: absolute;
  height:80px;
  bottom:0;
  width: 100%;
  margin-bottom:15px;
  color: white;
  margin-left: -1%;

  background-image: -moz-linear-gradient(left, #008080 0%,  #05C1FF 50%, #005757 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #008080),  color-stop(50, #05C1FF), color-stop(100, #005757));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, #008080 0%, #05C1FF 50%, #005757 100%);
  /* W3C Markup */
  background-image: linear-gradient(to right, #008080 0%, #05C1FF 50%, #005757 100%);
}
.blockquote-footer{
  color: white;
}
